* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.cards {
  border: 5px solid yellow;
  border-radius: 25px;
  box-shadow: 3px 3px;
  text-align: center;
}
